body {
    margin: 0;
    margin-right: 0px;
    padding: 0;
    font-family: DM Sans;Times New Roman;
}

header{
    width: 100%;
    background-color: #5f86f1;
    background-image: url("../img/pattern.png");
}

header img{
    margin-top: 40px;
    width: 200px;
}

main h1 {
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 0px;
    font-size: 60px;
}

figure{
    margin-left: 10px;
    margin-right: 10px;
}

p {
    margin-top: 40px;
    padding-left: 10px;
    font-size: 20px;
}

mark {
        background-color: #d0ff00;
}

ul {
    font-size: 20px;
    padding: 30px;
}

table {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    border-collapse: collapse;
    width: auto;
    text-align: left;
}
thead {
    font-size: 20px;
    color: white;
    background-color: #0d4af0;
    
}

footer {
    margin-top: 50px;
    margin-left: 10px;
}

h3 {
    color: gray;

}

.subtitle{
    margin-left: 10px;
    color: rgb(141, 141, 141);
}

.bluerow {
    background-color: #6c94e9;
}


#monitor{
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    padding: 10px;
}

#graph {
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 200px;
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    padding: 10px;
}

#tim1 {
    width: 730px;
    height: 570px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#tim2 {
    width: 730px;
    height: 570px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}